* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 2rem;
    background-color: #EEEEEE;
}

div {
    margin-bottom: 8rem;
}

h2 {
    font-weight: bold;
    font-size: 1.0rem;
    font-family: sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

section {
    margin-top: 1.5rem;
    width:100%;
}

.glyphs {
    font-size: 2rem;
    line-height: 1.2;
}
